*{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


body{
    margin: 0;
    padding: 0;
  
    
}

.up{
    height: 60px;
    width: 100%;
    background: linear-gradient(45deg,rgb(141, 214, 6),rgb(1, 11, 114));
    display: inline-flex;
    
}
li{
    display: inline-block;
}
#first{
    margin-inline-start: 50px;
}
#first li img{
    height: 30px;
    width: 30px;
    margin-top: 12px;
    padding: 5px;
   
    border-left: 2px solid rgb(255, 255, 255);
   
}
#second{
    margin-inline-start: 350px;
}
#second li img{
    height: 30px;
    width: 30px;
    padding-top: 10px;
}
#second li{
    color: white;
    font-size: 20px;
    text-align: center;
    
}
.butt button{
    border: 3px solid white;
    border-radius: 50px;
    background-color: transparent;
    color: white;
   margin-inline-start: 250px;
   margin-top:15px;
}
.lower{
    height: 90px;
    width: 100%;
    background-color: white;
    display: inline-flex;
}
.lower img{
    margin-inline-start: 80px;
    height: 70px;
    width: 70px;
    padding-top: 10px;
}
.lower p{
    font-size: 30px;
}
#low{
    margin-inline-start: 150px;
    

}
#low li{
    margin: 30px;
}
button:hover{
    cursor: pointer;
   
}
.bck{
    height: 700px;
    width: 100%;
    background-image: url(bck.jpg);
background-size:cover;
/* opacity: 0.6; */
}
.fourth{
    height: 200px;
    width: 100%;
    display: inline-flex;
    justify-content:space-around;
    background: linear-gradient(45deg,rgb(141, 214, 6),rgb(1, 11, 114));
}
h1{
    margin: 0;
    font-weight:bolder;
    font-size: 50px;
    
    
    
}

.mid{
    height: 300px;
    width: 70%;
    margin-inline-start: 300px;
    padding-top: 200px;
    border-left:30px solid rgb(4, 37, 107) ;
}

.mid p {
    line-height: 30px;
}
.mid button{
    border: 3px solid white;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    font-size: 20px;
}

.one{
    height: 200px;
    width: 30%;
    color: white;
    font-weight: lighter;
    padding-top: 30px;
    
    
}
.two{
    height: 200px;
    width: 30%;
    color: white;
    font-weight: lighter;
    padding-top: 30px;
    
}
.three{
    height: 200px;
    width: 30%;
    color: white;
    font-weight: lighter;
    padding-top: 30px;
    
}
.fourth img{
    height: 60px;width: 60px;
    padding: 10px;
}
.fifth{
    display: flex;
    height: 700px;
    width: 100%;
   margin-inline-start: 10px;

}
.fifth h1{
    font-size: 30px;
}
.content{
    height: 700px;
    width: 60%;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 30px;
    opacity: 0.8;


}
.pic{
    height: 700px;
    
    
}
.content button{
    height: 40px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: transparent;
}
.last{
    height:500px ;
    width: 100%;
    background-image: url(grey.jpg);
    margin-inline-start: 10px;

}
.footer{
    
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    
}
.first{
    height: 200px;
    width: 300px;
    background: url(of1.jpg);
    background-size: cover;
    border: 4px solid black;

}
.first div{
    height: 60px;
    width:300px ;
    background: linear-gradient(50deg,rgb(161, 238, 161),rgb(135, 156, 232));
    border: 4px solid rgb(23, 89, 155);
    border-radius: 10px;
    position: relative;
    top:210px ;
    text-align: center;
    font-size: 30px;
}

.seco{
    height: 200px;
    width: 300px;
    background: url(of2.jpg);
    background-size: cover;
    border: 4px solid black;

}.seco div{
    height: 60px;
    width:300px ;
    background: linear-gradient(50deg,rgb(161, 238, 161),rgb(135, 156, 232));
    border: 4px solid rgb(23, 89, 155);
    border-radius: 10px;
    position: relative;
    top:210px ;
    text-align: center;
    font-size: 30px;
}

.thir{
    height: 200px;
    width: 300px;
    background: url(of3.jpg);
    background-size: cover;
    border: 4px solid black;

}
.thir div{
    height: 60px;
    width:300px ;
    background: linear-gradient(50deg,rgb(161, 238, 161),rgb(135, 156, 232));
    border: 4px solid rgb(23, 89, 155);
    border-radius: 10px;
    position: relative;
    top:210px ;
    text-align: center;
    font-size: 30px;
}



